/*
    NAME: Weihong Cen
    DATE: 06/09/2023

    This is the CSS used to style the shop.
 */

#gallary {
    display: flex;
    width: 80vw;
    height: 60vh;
    flex-wrap: wrap;
    padding: 5vw;
    overflow: auto;
}
.product {
    background-color: #F2EFE9;
    border-radius: 20px;
    box-shadow: 0 4px 4px #2d3142a0;
    margin: 10px;
    padding: 20px;
    width: 150px;
    height: 150px;
}